html {
    /*width: 72%;*/
    min-height: 100%;
    background-color: #F6F6F6;
}
body { 
    /*width: 100%;*/
    background-color: #EEEEEE;
    font-family: 'Raleway', sans-serif;
    width:  75%;
    margin-left:  230px;
    
}

button {
    border: none;
    background-color: transparent;
    color:  lightblue;
    font-family: 'Raleway', sans-serif;
}

p {
    margin: 20px 0px 10px 20px;
    font-size: 25px;
    color: #777777;
}

h1 {
    width: 100%;
    margin: 0px 0px 20px 20px;
    font-size: 50px;
}

h2 {
    width: 100%;
    margin: 0px 0px 20px 2px;
    font-size: 40px;
}

input {
    background-color:  transparent;
    height: 30px;
    padding: 3px 10px;
    border-style:  solid;
    border-color: #DDDDDD;
    border-radius: 5px;
    font-size: 20px;
}

input:focus {
    outline:  none;
}

::placeholder {
  color: #aaaaaa;
}

img {
    margin: 50px 10px 20px 30px;
    width: 65px;
    float: left;
}

#frame {
    margin-left:  0 20px 0 20px;
    /*background-color: #EEEEEE;*/
    /*height: 1200px;*/
}

.chatHeader {
    background-color: white;
    /*float:  left;*/
    padding:  15px;
}

#chatBodyContainer {
    /*height: 230px;*/
    background-color: #EEEEEE;
}

#chatBody {
    background-color: #F6F6F6;
    float: left;
    width: 96.5%;
    margin: 25px 25px 0px 25px;
}

.chatFooter {
    background-color: #FFFFFF;
    float: left;
    width: 97.25%;
    padding:  20px;
}

.messageBox {
    display:  grid;
}

.row1 {
    display: flex;
    margin: 50px 20px 0px 10px;
}

.row2 {
    margin: 0px 20px 40px 10px;
}

.displayName {
    width:  90%;
    font-size: 20px;
    color:  #777777;
}

.divider {
    height:  20px;
    background-color: #EEEEEE;
}

.inputSection {
    display: inline-flex;
    width: 91%;
}

#displayNameText {
    margin: 20px 0px 20px 20px;
    width: 150px;
    font-family: 'Raleway', sans-serif;
}

#comment {
    width: 80%;
    margin: 20px 20px 20px 5px;
    font-family: 'Raleway', sans-serif;
}

#editButton, #deleteButton{
    font-size:  20px;
    font-family: 'Raleway', sans-serif;
    margin:  3px;
}

#submitButton {
    font-size:  25px;
    margin: 20px 0px 0 0;
}